.circle {
  height: 500px;
  width: 500px;
  background: #000000;
  border-radius: 50%;
  display: inline-block;
  z-index: -1;
  position: absolute;
  left: 500px;
  top: 250px;
} 
.smile{
    height: 20px;
    width: 20px;
    background: #dfdfdf;
    display: inline-block;
    
    z-index: 10;
    top: 100px;
    left: 100px;
    position: absolute;
    opacity: 0;
}
.smileToggler{
    height: 20px;
    width: 200px;
    background: rgb(189, 189, 189);
    opacity: .8;
}
.smileToggler:hover{
    opacity: 1;
}
.slider{
    -webkit-appearance: none;
    height: 20px;
    width: 80%;
    margin-bottom: 20px;
    outline: none;
    opacity: 0.7;
    border-radius: 50px;
    background-color: grey;
}
.slider:hover{
    opacity: 1;
}
.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0%; 
    
    /* background: rgb(189, 189, 189); */
    background: var(--SliderColor);
    border-radius: 50px;
    height: 30px;
    width: 20px;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    height: 60px;
    width: 30px;
}

.valueReader{
    font-size: 20px;
    background: "rgb(0,0,0)";
}
.colorButton{
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    appearance: none;
    border-color: grey;
    opacity: .7;
}
.colorButton:hover{
    background: white;
    opacity: 1;
}

.colorButton:focus{
    background: white;
}
.switchClient{
    width: 50px;
    height: 50px;
    background: rgb(227, 89, 255);
}
.selectRoom{
    position: absolute;
    left: 500px;
    top: 250px;
}
.selectUser{
    position: absolute;
    left: 500px;
    top: 250px;
}
.sectionHeader{
    font-size: 200%;
    
}
